<h2>Signup below to create and save workouts!</h2>

<form class="" action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

</form>
