<% if flash.has?(:username_message) %>
  <%=flash[:username_message]%> Go to <a href="/login">Login Page</a>
<%end%>

<h2>Signup below to create and save workouts!</h2>

<form class="" action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="email">Email:</label>
  <input type="text" name="email" id="email">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="submit" name="" value="Create User">
</form>
