

<h2>Please login below!</h2>
<p>If you don't have an account, signup <a href="/signup">here!</a></p>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username">
  <label for="password">Pasword:</label>
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>
